/* 
***********info:for blog screen***********
***********author:Jason***********
***********date:2012.3.21***********
*/
/* html */
html{
	background:#FFFCF0 url(../images/bg.jpg) top left;
	color: #000000;
    overflow-y: scroll;
}
/* main */
.main{
	margin:0 auto;
	width:1024px;
	padding-bottom:50px;
	box-shadow:1px 3px 10px #000;
	border-radius: 0 0 15px 15px;
	background-image:url(../images/container.png) ,url(../images/paper.png);
	background-repeat:repeat-x,repeat;
	background-position: top,center top;
	background-color:#FFF,#FFFF;
}
/* header */
header.bloghead{
	/* margin-bottom:20px; */
	width:1024px;
	margin:0 auto;
	position:relative;
}
header.bloghead hgroup.author{
	margin:0 0 30px 100px;
	width:300px;
}
header.bloghead hgroup.author h1{
	text-shadow:2px 2px 1px rgba(255, 255, 255, 0.6);
	font:bold 60px/100px "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
	height:100px;
}
header.bloghead hgroup.author h2{
	text-shadow:2px 2px 1px rgba(255, 255, 255, 0.6);
	font:bold 20px/30px "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
	height:30px;
}
header.bloghead nav.navigation{
	margin:0 auto;
	width:1024px;
	background:url(../images/menu-bg.png) repeat-x;
	height:47px;
	padding-bottom:5px;
	border-radius:15px 15px 0 0;
	box-shadow:1px 3px 10px #000;
}
/* figure */
header.bloghead figure.figure_rss{
	position:absolute;
	top:80px;
	float:right;
	right:40px;
}
figure.figure_rss li{
	list-style:none;
	float:left;
}
figure.figure_rss li a{
	background-image:url(../images/rss.png);
	display:block;
	width:35px;
	height:30px;
}
figure.figure_rss li a.sina{
	background-position:-180px -10px;
}
figure.figure_rss li a.qq{
	background-position:-217px -11px;
}
figure.figure_rss li a.twitter{
	background-position:-132px -10px;
}
figure.figure_rss li a.mail{
	background-position:-52px -10px;
}
figure.figure_rss li a.bookmark{
	background-position:-12px -10px;
}
figure.figure_rss li a.sina:hover,
figure.figure_rss li a.qq:hover,
figure.figure_rss li a.twitter:hover,
figure.figure_rss li a.mail:hover,
figure.figure_rss li a.bookmark:hover{
	-moz-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-o-transform:rotate(20deg);
}
/* navigation */
nav.navigation input.search{
	float:left;
	margin:8px 0 5px 0;
	width:200px;
	height:25px;
	background-color:rgba(0, 0, 0, 0.42);
	border-radius:12px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
	color:#C4C4C4;
	padding:2px 5px;
	border:medium none;
	font-size:14px;
	line-height:25px;
}
nav.navigation input.search:focus{
	color:#333;
	border-color:#80B1DF;
	background-color:#FFF;
	box-shadow:0 0 4px #80B1DF, 0 0 3px #80B1DF inset;
}
nav.navigation fieldset.search_form input.submit{
	float:left;
	background:url(../images/icon_search.png) no-repeat;
	width:17px;
	height:17px;
	margin-top:15px;
	margin-left:-26px;
	border:none;
	cursor:pointer;
}
nav.navigation fieldset.search_form{
	float:right;
	margin:5px 20px 0 0;
	display:block;
}

nav.navigation ul.nav{
	float:left;
	height:45px;
	line-height:45px;
	margin-left:20px;
	display:block;
}
nav.navigation ul.nav li{
	float:left;
	position:relative;
	width:100px;
	text-align:center;
}
nav.navigation ul.nav li a.menu{
	display:block;
	font-size:14px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.8);
	color:#D9D9D9;
	text-decoration:none;
}
nav.navigation ul.nav li a.menu:hover{
	color:#FFF;
	text-shadow:0px -1px 1px rgba(255,255, 255, 0.8);
	/* font-size:16px; */
}
/* submenu */
nav.navigation ul.subnav{
	display:none;
	position:absolute;
	top:45px;
	z-index:100;
}
nav.navigation ul.subnav li{
	width:150px;
	text-align:center;
	background:url(../images/nav_bg.png) repeat-x;
	height:39px;
}
nav.navigation ul.subnav li a.submenu{
	display:block;
	font-size:14px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.8);
	color:#D9D9D9;
	text-decoration:none;
}
nav.navigation ul.nav li a.submenu:hover{
	color:#FFF;
	text-shadow:0px -1px 1px rgba(255,255, 255, 0.8);
}
/* 
*footer 
*/
footer{
	height:300px;
	margin:0 auto;
	width:1024px;
}
footer section.footer{
	padding:20px 20px 0 40px;
	height:250px;
}
footer section.footer section{
	float:left;
	padding:0 30px;
	width:250px;
}
footer section.footer h1{
	margin-bottom:20px;
	padding:10px;
	height:25px;
	border-bottom:1px solid #7E5328;
	box-shadow:0 1px #FFDEB4;
	font:bold 20px/25px "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
	color:#000;
	text-shadow:3px 3px 1px rgba(0, 0, 0, 0.5);
}
footer p.copyright{
	text-shadow:0 1px rgba(255, 255, 255, 0.6);
	color:#4F2916;
	text-align:center;
}
footer section.f_middle a.friendlink,
footer section.footer article{
	color:#333;
	text-decoration:none;
	font:normal 12px/22px "微软雅黑";
}
/* totop */
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}
